.btn--cta {
  background-color: var(--color-green);
  padding: 0.5rem 2rem;
  display: grid;
  align-content: center;
  color: var(--color-white);
  border-radius: 15px;
  justify-self: end;
}
