@use "../base/abstracts" as *;
// ==========================================================================
// Facts
// ==========================================================================
.fact {
  &__wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    height: 20rem;
    max-width: 70ch;

    @media screen and (min-width: 720px) {
      width: 70ch;
    }
  }
  &__button {
    align-self: flex-start;
    background-color: transparent;
    border: none;
  }
}
