@use "../base/abstracts" as *;

// ==========================================================================
// MODAL FILTER
// ==========================================================================

.modal {
  &__filter {
    width: 98%;
    max-width: 42rem;
    height: 100%;
    display: grid;
    grid-gap: 1rem;
    padding: 0 0 1rem;
    justify-items: center;
    align-content: start;

    background-color: var(--color-primary--light);
    border-radius: 5px;
    position: relative;

    @media screen and (min-width: 1200px) {
      max-width: 48rem;
    }
  }
}

.filter {
  &__top {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    padding-left: 2.5rem;
    // justify-content: space-around;

    & span {
      font-size: var(--fs-300);
      border-bottom: solid var(--color-yellow) 1px;
      font-family: var(--ff-display);
    }
  }

  &__control {
    font-size: 1.75rem;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }

  &__search-btn {
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    font-size: var(--fs-300);
    background-color: var(--color-pink);
    color: var(--color-white);
  }
}

.fieldset {
  &__wrapper {
    width: 90%;
    max-height: 33vh;
    padding: 1rem;
    background-color: var(--color-primary);
    border-radius: 5px;
  }

  &__list {
    border: none;
    height: 100%;
    overflow-y: auto;

    & legend {
      font-family: var(--ff-display);
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
}
