@use "../base/abstracts" as *;

// ==========================================================================
// MODAL LIST
// ==========================================================================

.modal {
  &__container {
    position: fixed;
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 0.5rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: var(--z-index-popup);
  }

  &__list {
    width: 98%;
    max-width: 42rem;
    max-height: 70rem;
    display: grid;
    justify-items: center;

    @media screen and (min-width: 1200px) {
      max-width: 48rem;
    }
  }

  &__card {
    display: grid;
    min-width: 100%;
    max-width: inherit;
    background-color: var(--color-yellow);
    background-color: var(--color-primary--light);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.55);
    padding: 0.3rem;
    border-radius: 5px;
    font-size: var(--fs-200);

    @media screen and (min-width: 1200px) {
      transform-style: preserve-3d;
      transform: perspective(1000px);
    }

    a {
      background-color: var(--color-primary);

      padding: 0 0.5rem;
    }

    & .dog__image {
      height: 27rem;
      background-position: center;
      background-size: cover;
      // position: inherit;

      @media screen and (min-width: 720px) {
        height: 35rem;
      }

      @media screen and (min-width: 1200px) {
        height: 40rem;
      }
    }

    & .dog__caption {
      padding: 0.5rem 0;
      justify-content: center;
      transform: translateZ(20px);

      & .dog__heart {
        position: absolute;
        right: 1rem;
      }
      & .dog__name {
        font-size: var(--fs-300);
        // font-family: var(--ff-display);
      }
    }
  }

  &__text {
    display: grid;

    & li:nth-child(odd) {
      background-color: var(--color-primary);
    }
    & li {
      padding: 0.5rem;
    }
  }

  &__chars {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0.5rem;
    & li {
      display: grid;
      justify-items: center;
    }
  }

  &__button {
    // position: absolute;
    // top: 0.25rem;
    // right: 0.5rem;

    justify-self: end;
    padding: 0.2rem;
    align-self: start;
    font-size: var(--fs-500);
    // z-index: var(--z-index-modal);
  }
}
