@use "../base/abstracts" as *;
// ==========================================================================
// Popup Card
// ==========================================================================

.modal {
  &__container {
    position: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0.5rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background-color: rgba(255, 255, 255, 0.01);
    background-color: rgba(0, 0, 0, 0.4);
    // background-color: black;
    backdrop-filter: blur(5px);
    // padding: 0.5rem;
    z-index: var(--z-index-popup);
  }

  &__list {
    width: 98%;
    max-width: 50rem;
    max-height: 70rem;

    @media screen and (min-width: 720px) {
      // max-width: 50rem;
      max-height: 80rem;
    }
    @media screen and (min-width: 1200px) {
      // width: 30%;
    }
  }

  &__card {
    display: grid;
    // grid-gap: 0.5rem;
    background-color: var(--color-yellow);
    background-color: #fff5d7;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    // border: 1px solid #feb300;
    // width: 98%;
    // max-width: 650px;
    // max-height: 800px;
    padding: 0.3rem;
    border-radius: 5px;
    // font-size: var(--fs-300);
    font-size: 1.7rem;
    transform-style: preserve-3d;
    transform: perspective(1000px);

    // height: 90%;
    // color: red;
    // z-index: var(--z-index-modal);

    // @media screen and (min-width: 720px) {
    //   width: 50%;
    // }
    // @media screen and (min-width: 1200px) {
    //   width: 30%;
    // }
    // span {
    //   font-size: var(--fs-200);
    // }

    h3 {
      justify-self: center;
      transform: translateZ(1.5rem);
    }

    a {
      // color: pink;
      // font-size: var(--fs-200);
      background-color: #ffe8b3;
      padding: 0 0.5rem;
    }

    & .dog__image {
      height: 30rem;
      // scale: 2.5;
      // transform: translateZ(5px);

      @media screen and (min-width: 720px) {
        height: 35rem;
      }

      @media screen and (min-width: 1200px) {
        height: 40rem;
      }
    }

    // & h3 {
    //   transform: translateZ(20px);
    // }
  }

  &__text {
    display: grid;
    // grid-gap: 1rem;
    // padding: 1rem 0;

    & li:nth-child(odd) {
      background-color: #ffe8b3;
    }
    & li {
      padding: 0.5rem;
    }
  }

  &__chars {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    // background-color: pink;
    grid-gap: 1rem;
    padding: 0.5rem;
    & li {
      display: grid;
      justify-items: center;
    }
  }
}
