@use "../base/abstracts" as *;

.pagination {
  &__container {
    position: relative;
    width: 25rem;
    min-height: 1rem;
    margin-bottom: 2rem;
  }

  &__btn--prev,
  &__btn--next {
    position: absolute;
    top: 0;
  }

  &__btn--prev {
    left: 0;
  }

  &__btn--next {
    right: 0;
  }
}
