@use "../base/abstracts" as *;

.pagination {
  &__container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 25rem;
    background-color: var(--color-primary--light);
    // margin-bottom: 2rem;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &__btn--prev,
  &__btn--next {
    top: 0;
    font-family: var(--ff-display);
    font-size: var(--fs-200);
  }

  &__btn--prev {
    justify-self: start;
    left: 0;
  }

  &__btn--next {
    justify-self: end;
    right: 0;
  }
}
