@use "../base/abstracts" as *;
// ==========================================================================
// Search bar component
// ==========================================================================

.form {
  &__wrapper {
    // display: flex;
    height: 4rem;
    z-index: var(--z-index-box);
    position: relative;
  }

  &__search {
    height: 100%;
    // width: clamp(30rem, 2vw, 50rem);
    width: min(90vw, 38rem);
    // border: gold 3px solid;
    // background-color: pink;
    padding: 0 12px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-green);
    background-color: var(--color-pink);
    padding: 1rem;
    display: grid;
    align-content: center;
    color: var(--color-white);
    // transform: translateY();
    // width: 2rem;
    border-radius: 5px;
    border-radius: 0 5px 5px 0;
    height: 100%;
  }
}

.autocomplete__input li {
  padding: 0 12px;
  cursor: default;
  // display: none;

  &:hover,
    // &:active,
    &:focus {
    background-color: var(--color-yellow);
  }
}

.autocomplete__input {
  background-color: var(--color-primary--light);
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  max-height: 28rem;
  opacity: 0;
  pointer-events: none;
}

.active {
  opacity: 1;
  pointer-events: all;
}
