@use "../base/abstracts" as *;

.select {
  &__wrapper {
    display: flex;
    // justify-content: space-evenly;
    grid-gap: 1rem;
  }

  &__list {
    display: grid;
    align-items: center;
    max-width: 23ch;
    font-size: var(--fs-200);
    border: 1px solid var(--color-font);
    border-radius: 5px;
    padding: 0.25em;
    line-height: 1.1;
  }

  &__list,
  &__button {
    max-width: 23ch;
    font-size: var(--fs-200);
    background-color: var(--color-primary--light);

    border: 1px solid var(--color-font);
    border-radius: 5px;
    line-height: 1.1;
  }

  &__label {
    align-self: end;
    font-size: var(--fs-200);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 0.5rem;
    padding-right: 0.5rem;
    // padding: 0.5rem;
    // padding: 0 0.5rem;
    // border-radius: 5px;
    // border: 1px solid var(--color-font);

    & svg {
      height: 2rem;
    }
  }
}

select {
  cursor: pointer;
  border: none;
}

.select__list,
select,
option {
  background-color: var(--color-primary--light);
}
