@use "../base/abstracts" as *;

// ==========================================================================
// DOG LIST
// ==========================================================================

.loader__container {
  position: relative;
  width: 30rem;

  & .loader {
    top: 40%;
    left: 40%;
  }
}

.dogs {
  &__container {
    display: grid;
    align-content: start;
    justify-items: center;
    grid-gap: 2.5rem;
    padding: 4rem 1rem 1rem;
    min-height: 100vh;
  }

  &__dashboard {
    display: grid;
    justify-items: center;
    grid-gap: 2.5rem;
    border-radius: 5px;
  }

  &__list {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(1, minmax(250px, 350px));

    @media screen and (min-width: 720px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
      max-width: 750px;
      grid-gap: 2rem;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    }
  }

  &__title {
    font-size: var(--fs-600);
    font-family: var(--ff-display);
    justify-self: center;
  }
}

.dog {
  &__item {
    display: grid;
    padding: 0.5rem 0.5rem 0;
    justify-items: center;
    background-color: var(--color-primary--light);
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    scale: 1;
    transition: all 0.2s ease-in;

    &:hover {
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      scale: 1.01;
      rotate: -0.5deg;
    }
  }

  &__image {
    display: grid;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;

    & > img {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary);
    }
  }

  &__caption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    font-size: var(--fs-100);
    font-family: var(--ff-display);
    font-weight: 600;
  }

  &__heart,
  &__details {
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  &__heart {
    font-size: var(--fs-500);

    &--info {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: notify 2s ease-in-out forwards;
      min-width: max-content;
    }

    &:hover {
      animation: beat 1s 1 alternate;
    }
  }

  &__details {
    font-size: 2.5rem;

    &:hover {
      scale: 1.05;
    }
  }
}

.centered--one {
  grid-template-columns: minmax(300px, 400px);
}

.centered--two {
  grid-template-columns: repeat(auto-fill, minmax(100px, 400px));
}
