@use "../base/abstracts" as *;

// .dogs__container {
//   // min-height: 40vh;
//   display: grid;
//   // max-width: 1200px;
//   justify-items: center;
//   // padding: 2rem 0;
//   align-content: start;
//   // min-width: 1400px;
//   // background-color: silver;
//   grid-gap: 2rem;
// }

.loader__container {
  position: relative;
  // top: 50%;
  // left: 50%;
  // translate: transform(-50%, -80%);
  width: 30rem;
  // height: 20rem;
  // background-color: pink;

  & .loader {
    top: 40%;
    left: 40%;
  }
}

.dogs {
  &__container {
    display: grid;
    align-content: start;
    justify-items: center;
    grid-gap: 2rem;
    padding: 6rem 1rem 1rem;
    min-height: 100vh;

    @media screen and (min-width: 1200px) {
      // display: flex;
      // justify-self: start;
    }
  }

  &__list {
    display: grid;
    justify-content: center;
    justify-items: center;
    // padding: 1rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(1, minmax(250px, 350px));

    @media screen and (min-width: 720px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
      max-width: 750px;
      grid-gap: 2rem;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    }
  }

  &__title {
    font-size: var(--fs-400);
    margin-bottom: 2rem;
  }
}

.dog {
  &__item {
    display: grid;
    padding: 0.5rem 0.5rem 0;
    justify-items: center;
    // background-color: pink;
    background-color: var(--color-yellow);
    background-color: #c89666;
    background-color: #ffe8b3;
    background-color: var(--color-primary--light);
    // color: black;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    // grid-gap: 1rem;
    cursor: pointer;
    scale: 1;
    transition: all 0.2s ease-in;

    &:hover {
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      scale: 1.01;
      rotate: -0.5deg;
    }
  }

  &__image {
    display: grid;
    // justify-content: center;
    // align-content: center;

    // width: 340px;
    // height: 100%;
    width: 100%;
    // width: 340px;
    height: 250px;
    // height: 250px;

    & img {
      border-radius: 5px;
      //   aspect-ratio: 1/1;
      // height: 270px;
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
      // object-position: center;
      background-color: var(--color-primary);

      @media screen and (min-width: 720px) {
        // height: 300px;
      }
    }
  }

  &__caption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__name {
    // flex: 1;
    // display: flex;
    // justify-content: center;
    // margin-left: 3rem;
    // justify-self: center;
    // justify-self: center;
    // margin-left: auto;
    font-size: 1.7rem;
    // color: pink;
  }

  &__heart,
  &__details {
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  &__heart {
    font-size: var(--fs-400);
    // margin-left: auto;
    // position: absolute;
    // bottom: -0.5rem;
    // right: 0;
    // display: none;
    // justify-self: end;

    // padding: 1rem;

    &:hover {
      animation: beat 1s 2 alternate;
    }
  }

  &__details {
    // margin-right: auto;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // justify-self: start;
    font-size: 2.5rem;

    &:hover {
      scale: 1.05;
    }
  }
}

.centered--one {
  grid-template-columns: minmax(300px, 400px);
}

.centered--two {
  grid-template-columns: repeat(auto-fill, minmax(100px, 400px));
}
