.main {
  display: grid;

  justify-items: center;
  // align-items: center;
  grid-gap: 2rem;
}

.alerts__container {
  position: fixed;
  top: 50%;
  left: 50%;
  // translate: transform(-50%, -50%);
  // width: 30rem;
  // height: 20rem;
  background-color: pink;
}
