.overview {
  border: 1px solid var(--color-primary);
  position: relative;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-gap: 3rem;

  justify-items: center;
  padding: 2rem 1rem;
  background-color: var(--color-primary--light);

  position: relative;
  @media screen and (min-width: 1200px) {
    justify-items: start;

    border-radius: 15px;
    margin-top: -6rem;

    padding: 3rem 5rem 6rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__title {
    border-bottom: solid var(--color-yellow) 1px;
    padding-bottom: 2rem;
    width: 95%;
    font-family: var(--ff-display);
    font-size: var(--fs-500);
    font-weight: 600;
  }
}
