// RESPONSIVE BREAKPOINTS

$bp-xxl: 90em; // 1400px
$bp-xl: 75em; // 1200px
$bp-lg: 60em; // 1000px
$bp-md: 55em; // 800px;
$bp-sm: 45em; // 600px;

:root {
  // font family
  --ff-primary: "Lato", sans-serif;
  --ff-display: "Poppins", sans-serif;

  //font size
  --fs-xl: clamp(3.5rem, 6vw + 1rem, 5rem);
  --fs-600: clamp(3.25rem, 6vw + 1rem, 4rem);
  --fs-500: clamp(1rem, 6vw + 0.25rem, 4rem);
  --fs-400: clamp(1rem, 5vw + 0.25rem, 3rem);
  --fs-300: 1.8rem;
  --fs-200: 1.5rem;

  // @media screen and (min-width: var(--bp-xl)) {
  //   :root {
  //     --fs-500: 2.75rem;
  //     --fs-400: 2.5rem;
  //   }
  // }

  // colors
  --color-font: #11347d;
  --color-primary: rgba(255, 232, 179, 1);
  --color-primary--light: rgba(255, 245, 215, 1);

  --color-green: #00ce7c;
  --color-yellow: rgba(254, 179, 0, 1);
  // --color-blue: #275fac;
  --color-blue: #003580;
  --color-red: #db3445;
  --color-white: #ffffff;
  --color-grey: #363636;
  --color-grey--light: rgba(224, 224, 224, 1);
  --color-pink: rgba(255, 94, 108, 1);
  --color-pink--light: rgba(255, 170, 171, 1);

  // z-index

  --z-index-negative: -1;
  --z-index-box: 1000;
  --z-index-popup: 1100;
  --z-index-modal: 1200;
  --z-index-loader: 1300;
}
