@use "./abstracts" as *;

.heading {
  &--1 {
    font-family: var(--ff-display);
    font-size: var(--fs-600);
    font-weight: 600;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    line-height: 1.1;
    letter-spacing: 1px;
    max-width: 70ch;
    color: var(--color-white);
  }
}
