@use "./abstracts" as *;

// utils
// .hidden {
//   display: none;
// }

.sticky__body {
  overflow: hidden;
}

.min__height {
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  display: none;
}
.visible {
  opacity: 1;
  display: grid;
}

.transparent {
  opacity: 0;
  pointer-events: none;
}
