@use "./abstracts" as *;

// ==========================================================================
// Card Component
// ==========================================================================

.dog {
  &__list {
    display: grid;
    width: 400px;
    height: 100px;
  }
  &__item {
    display: grid;
    background-color: pink;
    border-radius: 5px;
    // grid-gap: 1rem;

    & img {
      border-radius: 5px;
      //   aspect-ratio: 1/1;
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: center;
    }
  }
}
