@use "./abstracts" as *;

// ==========================================================================
// Card Component
// ==========================================================================

.dogs__list {
  aspect-ratio: 1/2;
  max-width: 500px;

  & img {
    width: 100%;
    border-radius: 5px;
  }
}
