@use "./abstracts" as *;

// ==========================================================================
// Card Component
// ==========================================================================

.dog {
  &__list {
    // background-color: green;
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 0.5rem;
    // grid-row-gap: 2rem;
    max-width: 1200px;
    grid-template-columns: repeat(1, minmax(250px, 350px));

    @media screen and (min-width: 720px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
      grid-gap: 3rem;
    }
    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    }
  }
  &__item {
    display: grid;
    background-color: pink;
    border-radius: 5px;
    width: 100%;
    grid-gap: 1rem;
    @media screen and (min-width: 420px) {
      background-color: var(--color-yellow);
    }
  }

  &__image {
    // display: grid;
    position: relative;
    width: 100%;
    // height: 100%;
    height: 250px;

    & img {
      border-radius: 5px;
      //   aspect-ratio: 1/1;
      height: 270px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      @media screen and (min-width: 720px) {
        background-color: var(--color-yellow);
        // height: 300px;
      }
    }
  }
}

.centered--one {
  grid-template-columns: minmax(300px, 400px);
}

.centered--two {
  grid-template-columns: repeat(auto-fill, minmax(100px, 400px));
}

// ==========================================================================
// Search bar component
// ==========================================================================

.form {
  &__wrapper {
    height: 4rem;
    z-index: var(--z-index-box);
    position: relative;
  }

  &__search {
    height: 100%;
    // width: clamp(30rem, 2vw, 50rem);
    width: min(70vw, 32rem);
    background-color: pink;
    padding: 0 12px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    // transform: translateY();
    // width: 2rem;
    // height: 100%;
  }
}

.autocomplete__input li {
  padding: 0 12px;
  cursor: default;
  // display: none;

  &:hover,
  // &:active,
  &:focus {
    background-color: var(--color-yellow);
  }
}

.autocomplete__input {
  background-color: pink;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  max-height: 28rem;
  opacity: 0;
  pointer-events: none;
}

.active {
  opacity: 1;
  pointer-events: all;
}

// ==========================================================================
// Loader
// ==========================================================================

.loader {
  position: absolute;
  top: 45%;
  left: 42%;
  translate: -50%, -50%;
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: var(--color-red) transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ==========================================================================
// Popup Card
// ==========================================================================

.modal {
  &__container {
    position: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    // padding: 0.5rem;
    z-index: var(--z-index-popup);
  }

  &__card {
    background-color: var(--color-yellow);
    width: 90%;
    max-width: 800px;
    // height: 90%;
    color: red;
    // z-index: var(--z-index-modal);

    @media screen and (min-width: 720px) {
      width: 50%;
    }
    @media screen and (min-width: 1200px) {
      width: 40%;
    }

    & .dog__image {
      height: 30rem;

      @media screen and (min-width: 720px) {
        height: 35rem;
      }

      @media screen and (min-width: 1200px) {
        height: 50rem;
      }
    }
  }
}

.hidden {
  display: none;
}
